{% load staticfiles %}
 <html>
        <head>
            <title>Django Blog</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
    		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        </head>
        <body class="body">
            <div class="page-header">
                <center>
                <h1><a href="/">Blog</a></h1>
                </center>
                <center>
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
                <h3><a class = "sign_up_in" href="http://127.0.0.1:8000/register/">Sign up</a></h3>
                <h3><a class = "sign_up_in" href="http://127.0.0.1:8000/login/">Sign in</a></h3>
                <h2><a class = "search" href="http://127.0.0.1:8000/search_form">Search</a></h2>
                <h1><a class="create-post" href = "http://127.0.0.1:8000/post/new/">Create Post</a></h1>
                </center>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </body>
        <footer class="page-footer">
            <p>© Designed by Valeriy Novikov</p>
        </footer>
    </html>