
{% load staticfiles %}
 <html>
        <head>
            <title>You are not a owner of this post</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        </head>

<body class="body">
            <div class="page-header">
                <center>
                <h1><a href="/">Blog</a></h1>
                </center>
                <center>
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
                <h3><a class = "sign_up_in" href="http://127.0.0.1:8000/register/">Sign up</a></h3>
                <h3><a class = "sign_up_in" href="http://127.0.0.1:8000/login/">Sign in</a></h3>
                <h2><a class = "search" href="http://127.0.0.1:8000/search_form">Search</a></h2>
                <h1><a class="create-post" href = "http://127.0.0.1:8000/post/new/">Create Post</a></h1>
                </center>
            </div>
    <form action="/search/" method="get">
        <div>
        <h1>Access denied -  You do not own this post!</h1>
        <h3><input type="button" onclick="history.back()" value="Back "></h3>
        </div>
    </form>
    <footer class="page-footer">
            <p>© Designed by Valeriy Novikov</p>
    </footer>
</body>

 <html>

